.nav_div {
    background-color: #4C08BC;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}



.links {
    justify-content: right;
}

.nav-link{
    color: #ffffff !important;
    font-size: 20px;
}


.logo_button {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.logo_text {
    margin: 0 10px;
    color: #E49393;
}

.item {
    margin: 0 30px;
}

.book {
    background-color: #E08787 !important;
    border-color: #E08787 !important;
    border-radius: 10px;
}

.btn {
    width: 100px;
}

.book:hover{
    background-color: #E14646 !important;
}

body {
    background-color: #1E0843 !important;
}

img{
    width: 25vw;
}

.container {
    margin: 0;
    background-color: #2B0074;
    height: 90vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

.about {
    width: 90%;
    height: 90%;
    font-size: 25px;
}

h3 {
    font-size: 50px !important;
}

.pink {
    color: #E49393;
}

.navbar_buttons {
    display: flex;
    margin: 0 30px 0 0;
}

.nav_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #4C08BC;
    align-items: center;
}

.booking {
    width: 75vw;
    margin: 40px 0 0 0;
}

.booking form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    font-size: 25px;
}

.list ul{
    text-decoration: none;
    display: flex;
    margin: 10px 10px 10px 0;
    padding: 0;
    justify-content:flex-start;
}

.list ul li{
    text-decoration: none;
    display: inline;
    margin: 10px;
}

.list ul li.first{
  margin: 10px 10px 10px 0;
}

.btn {
    width: 150px;
}

#barber {
    margin: 0 20px;
}


tr {
  height: 20px;
}

th {
    color: #ffffff;
}


tbody {
    color: #ffffff;
}

td {
    color: #ffffff !important;
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 40px !important;
    }
    .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .text {
        width: 80vw;
        font-size: 15px;
    }
    
    img{
        width: 50vw;
    }
}

@media screen and (max-width: 500px) {
    .text {
        width: 70vw;
    }
}

.barber_bookings {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 0 0 0;
}

.confirmation-container {
  margin: 0 30px;
  background-color: #2B0074;
  height: 90vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmation-container img{
  height: 200px;
  width: 200px;
  margin: 40px 0 0 0;
}

.confirmation {
  margin: 40px;
}

.confirmation h4{
  font-weight: 400;
}

.confirmation-emailed {
  margin: 0 0 30px 0;
}

.confirmation-details-title {
  font-size: 36px;
  margin: 0 0 20px 0;
}

.timing-container {
  margin: 0 30px;
  background-color: #2B0074;
  height: 90vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  margin: 0 30px;
  background-color: #2B0074;
  height: 90vh;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.barber-timings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.barber-timings h4 {
  display:inline;
  font-weight: 400;
}

.barber-buttons-wrap {
  display: flex;
  justify-content: center;
}

.barber-buttons {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  background-color: #E08787;
  border-color: #E08787;
  border-radius: 10px;
  margin: 10px 20px;
}

.barber-buttons:hover {
  background-color: #E14646;
  border-color: #E14646;
  color: #ffffff;
}