nav {
    background-color: #4C08BC;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}



.links {
    justify-content: right;
}

.nav-link{
    color: #ffffff !important;
    font-size: 20px;
}


.logo_button {
  display: flex;
  margin: 0 20px;
  align-items: center;
}

.logo_text {
    margin: 0 10px;
    color: #E49393;
}

.item {
    margin: 0 30px;
}

.book {
    background-color: #E08787 !important;
    border-color: #E08787 !important;
    border-radius: 10px;
}

.btn {
    width: 100px;
}

.book:hover{
    background-color: #E14646 !important;
}

body {
    background-color: #1E0843 !important;
}

img{
    width: 25vw;
}

.container {
    margin: 0;
    background-color: #2B0074;
    height: 90vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 25vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
}

.about {
    width: 90%;
    height: 90%;
    font-size: 25px;
}

h3 {
    font-size: 50px !important;
}

.pink {
    color: #E49393;
}

.navbar_buttons {
    display: flex;
    margin: 0 10px 0 0;
}

.nav_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #4C08BC;
    align-items: center;
}

.booking {
    width: 50vw;
    height: 70vh;
}

.booking form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    font-size: 25px;
}

.list ul{
    text-decoration: none;
    display: flex;
    margin: 10px;
    padding: 0;
    justify-content: space-around;
}

.list ul li{
    text-decoration: none;
    display: inline;
    margin: 40px;
}

.btn {
    width: 150px;
}

#barber {
    margin: 0 20px;
}

table {
    height: 100%;
}

th {
    color: #ffffff;
}

tbody {
    color: #ffffff;
}

td {
    color: #ffffff !important;
}

@media screen and (max-width: 1200px) {
    h3 {
        font-size: 40px !important;
    }
    .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .text {
        width: 80vw;
        font-size: 15px;
    }
    
    img{
        width: 50vw;
    }
}

@media screen and (max-width: 500px) {
    .text {
        width: 70vw;
    }
}
